// Variables
$font-stack: 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif;

$color-theme-blue: #008cd2;
$color-theme-dark: #585858;
$color-theme-light: #f5f5f5;
$color-theme-orange: #f79521;

$screen-tablet-portrait-min: 600px;
$screen-tablet-landscape-min: 900px;
$screen-computer-min: 992px;
$screen-huge-computer-min: 1200px;

// Mixins
@mixin for-tablet-portrait-up {
  @media (min-width: #{$screen-tablet-portrait-min}) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: #{$screen-tablet-landscape-min}) {
    @content;
  }
}
@mixin for-computer-up {
  @media (min-width: #{$screen-computer-min}) {
    @content;
  }
}
@mixin for-giant-desktop {
  @media (min-width: #{$screen-huge-computer-min}) {
    @content;
  }
}
