<div class="row">
  <div class="image-column" *ngFor="let product of row">
    <img
      class="product-image"
      [src]="product.imagePaths[0]"
      [alt]="product.name"
    />
  </div>
  <div
    class="text-column"
    *ngIf="blankColumns != 0"
    [ngStyle]="{ flex: blankColumns }"
  ></div>
</div>
<div class="row">
  <div class="text-column" *ngFor="let product of row">
    <p>
      <small>{{ product.name }}</small>
    </p>
    <p>
      <small>${{ product.salePrice }}</small>
    </p>
  </div>
  <div
    class="text-column"
    *ngIf="blankColumns != 0"
    [ngStyle]="{ flex: blankColumns }"
  ></div>
</div>
