:host {
  display: flex;
  flex-flow: row nowrap;
}

.filters {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-basis: 27%;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-basis: 73%;
}
